@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
    padding: 0;
    margin: 0;
} */

body {
    background-color: #f3f3f3;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

    /* font: normal 16px "Roboto", sans-serif; */

}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    color: #004999;
}

a:active {
    color: #003366;
    text-decoration: underline;
}

/* a:visited {
    color: grey;
} */

.avatar {
    width: 250px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0,25);
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}

.container {
    /* width: 100%; */
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

/* .box-model > div {
    float: left;
    background-color: black;
    height: 200px;
    width: 25%;
    border: 4px solid red;
    box-sizing: border-box;
} */

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}

.card {
    padding: 15px 20px;
    /* background-color: white; */
    margin-bottom: 20px;
    border-radius: 10px;
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #86898f;
    margin-bottom: 8px;
    /* border-bottom: 1px solid grey; */
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: #86898f;
}

/* .table tr:nth-child(even) {
    background: #d3f5da;
} */

.ul-link {
    list-style: none;
    padding: 0;
}

.ul-link li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fad8d8;
}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #000;
    margin-bottom: 6px;
}

/* .form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #0f141e;
    padding: 15px 0px 10px;
    outline: none;
    font-family: inherit;
} */

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    color: #000;
    border-radius: 6px;
    padding: 10px 0px;
    padding-left: 10px;
    outline: none;
}

.row {
    display: flex;
    margin-bottom: 16px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.row > .form-group:last-child {
    margin-right: 0px;
}

.btn {
    background: #0f141e;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    cursor: pointer;
    margin-top: 16px;
}

.btn:hover {
    opacity: 0.9;
}

/* Position */

/* .position {
    position: relative;
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
}

.box {
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background:lightcoral;
} */